:root {
  --color-black: #000;

  --color-light-grey-1: #ddd;
  --color-light-grey-2: #f5f4f4;
  
  --color-dark-grey-1: #d3d3d3;
 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
}

body {
  box-sizing: border-box;
}