body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

////// HEADER //////
.heading__primary {
  font-size: 3rem;
}

.header__nav--item {
  font-size: 1.5rem;
  text-decoration: none;
}

////// BUTTON //////
.btn {
  font-size: 1.2rem;
  
  &:link, 
  &:visited {
    color: var(--color-black);
    text-decoration: none;
  }
}

////// LANDING PAGE //////
.landing__welcome {
  font-size: 1.7rem;
  line-height: 1.3;
}

////// HOME PAGE //////
.home__profile--name {
  font-size: 2rem;
}

.home__profile--github {
  font-size: 1.5rem;
}

////// WEATHER PAGE //////
.weather__table--header-main,
.weather__table--header-sub {
  font-weight: 600;
}


.weather__table--cell {
  font-size: 1.3rem;
}